@import "./reset.scss";
@import "./vars.scss";

body,
html,
#root {
    background-color: #fff;
    font-family: "Montserrat";
    font-weight: 300;
    color: #222;
    height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    min-height: 100%;

    display: flex;
    flex-direction: column;
}
