@import "./reset.scss";
@import "./vars.scss";

body,
html,
#root {
    background-color: #fff;
    font-family: "Montserrat";
    font-weight: 300;
    color: #222;
    height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

.red-border {
    border: 1px solid red;
}

.fixe-scroll {
    overflow-y: hidden;
}

a {
    font: inherit;
    color: inherit;
}

.popup {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: #ddddddce, $alpha: 0.8);

    &__content {
        position: relative;

        margin: 20% auto 0;
        padding: 30px;
        max-width: 500px;
        background-color: #fff;
        border-radius: 20px;

        & > *:not(:last-child) {
            margin-bottom: 20px;
        }

        & button {
            transform: none !important;
            width: 100%;
        }
    }

    &__close-btn {
        padding: 5px;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px !important;
        border: none;
        border-radius: 5px;
    }

    &__input {
        box-sizing: border-box;
        border-radius: 10px;
        padding: 10px;
        display: block;
        width: 100%;
    }

    &__label {
        display: block;

        input {
            margin-right: 10px;
        }
    }
}

.popup_active {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 1280px) {
    .container {
        padding-right: 10px;
        padding-left: 10px;
    }
}
