.header {
    position: relative;
    margin-bottom: 50px;
    &__logo-wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        font-weight: 600;
        font-size: 20px;
    }
}